/* Font Face Declarations */
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(Poppins-Thin.woff2) format("woff2"), url(Poppins-Thin.woff) format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url(Gilroy-Light.woff2) format("woff2"), url(Gilroy-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f4f7f9;
  font-family: "Poppins", sans-serif;
}

.navbar {
  color: #f79925;
  background: #f4f7f9;
  padding: 31px 0;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}
.navbar .wrap {
  padding: 0 10%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.navbar .wrap .navbar-brand {
  display: inline;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar .wrap .navbar-brand img {
  width: 218px;
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}
.navbar .wrap .collapse {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: flex-end;
}
.navbar .wrap .collapse .navbar-nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar .wrap .collapse ul {
  margin-top: 0;
}
.navbar .wrap .collapse ul li {
  padding: 0 18px;
}
.navbar .wrap .collapse ul li .nav-link {
  line-height: 1.5;
}
.navbar .wrap .collapse ul li .nav-link .head_label {
  margin-top: 0;
}
.navbar .wrap a {
  background-color: transparent;
  text-decoration: none;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (max-width: 992px) {
  .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
  }
  .navbar-collapse {
    flex-grow: 1;
  }
  .navbar-nav {
    flex-direction: column;
    align-items: center; /* Center align items */
  }
  .wrap {
    padding: 0 20px; /* Adjust padding for smaller screens */
  }
}
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column; /* Stack items vertically */
    text-align: center;
  }
  .wrap {
    padding: 0 10px; /* Further reduce padding */
  }
  .navbar-brand img {
    width: 150px; /* Reduce logo size on small screens */
  }
}
.bubble-container {
  position: fixed; /* Fixed position to stay in the background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* Send the bubbles behind the content */
  overflow: hidden;
  background-color: transparent;
}
.bubble-container .bubble {
  position: absolute;
  bottom: -100px;
  background-color: rgba(173, 216, 230, 0.7); /* Light blue translucent color */
  border-radius: 50%;
  animation: floatUp 10s infinite ease-in-out, resizeBubble 6s infinite ease-in-out;
  opacity: 0.8;
}
.bubble-container .bubble1 {
  width: 100px;
  height: 100px;
  left: 20%;
  animation-delay: 1s;
}
.bubble-container .bubble2 {
  width: 80px;
  height: 80px;
  left: 50%;
  animation-delay: 2s;
}
.bubble-container .bubble3 {
  width: 120px;
  height: 120px;
  left: 70%;
  animation-delay: 3s;
}
.bubble-container .bubble4 {
  width: 90px;
  height: 90px;
  left: 40%;
  animation-delay: 4s;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-300px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-600px);
    opacity: 0;
  }
}
/* Bubble Resizing Animation */
@keyframes resizeBubble {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height: 50vh;
  position: relative;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.modal .modal-content form {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.modal .modal-content form label {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}
.modal .modal-content form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
}
.modal .modal-content form button {
  padding: 10px;
  background-color: #f79925;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.modal .modal-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .modal-content {
    width: 95%;
    margin: 20% auto;
  }
}
.banner {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}
.banner .BannerContainer {
  min-height: 77vh;
  padding: 20px;
  padding-top: 0px;
  margin-top: 230px;
  margin-left: 100px;
  margin-right: 100px;
}
.banner .BannerContainer h1 {
  text-align: center;
  font-size: 87px;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
}
.banner .BannerContainer h1 span {
  color: #f89924;
}
@media (max-width: 768px) {
  .banner .BannerContainer h1 {
    font-size: 60px;
  }
}
@media (max-width: 480px) {
  .banner .BannerContainer h1 {
    font-size: 40px;
  }
}
.banner .BannerContainer p {
  text-align: center;
  font-weight: 400;
  margin-top: 22px;
  font-size: 1.1rem;
  line-height: 1.7;
}
@media (max-width: 768px) {
  .banner .BannerContainer p {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .banner .BannerContainer p {
    font-size: 0.9rem;
  }
}
.banner .BannerContainer form {
  margin-top: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.banner .BannerContainer form input {
  padding: 15px;
  width: 100%;
  max-width: 400px;
  border-radius: 15px 0 0 15px;
  border: 1px solid #ccc;
  box-shadow: 5px 12px 15px -8px rgba(0, 0, 0, 0.2196078431);
  font-size: 1rem;
}
@media (max-width: 768px) {
  .banner .BannerContainer form input {
    padding-right: 150px;
  }
}
@media (max-width: 480px) {
  .banner .BannerContainer form input {
    padding-right: 30px;
    border-radius: 15px;
    margin-bottom: 10px;
  }
}
.banner .BannerContainer form button {
  background-color: #f89924;
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 0 15px 15px 0;
  box-shadow: 5px 12px 15px -8px rgba(0, 0, 0, 0.2196078431);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media (max-width: 480px) {
  .banner .BannerContainer form button {
    border-radius: 15px;
    width: 100%;
    margin-left: 0;
  }
}
.banner .BannerContainer form button:hover {
  background-color: #f79925;
}
@media (max-width: 768px) {
  .banner .BannerContainer {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 480px) {
  .banner .BannerContainer {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.secondPage {
  position: relative;
  bottom: 100px;
}
.secondPage .catchweight {
  text-align: center;
}
.secondPage .catchweight .TextContainer span {
  color: #f89924;
}
.secondPage .catchweight .TextContainer h2 {
  font-weight: 800;
  font-size: 46px;
}
.secondPage .graphsYoutube .container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.secondPage .graphsYoutube .container .VideoPlayButton {
  background-color: red;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  animation: pulse 2s infinite;
}
.secondPage .graphsYoutube .container .VideoPlayButton::before {
  content: "";
  width: 21px;
  height: 26px;
  border-left: 18px solid white;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  position: relative;
  left: 5px; /* Adjust to center the triangle inside the circle */
}
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
}

.ChooseYourIndustry {
  padding-top: 100px;
  width: 100%;
  padding: 0;
}
.ChooseYourIndustry .container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.ChooseYourIndustry .container .cards {
  display: flex;
  justify-content: space-between; /* To make sure the cards distribute evenly */
  overflow: hidden;
  gap: 50px;
}
.ChooseYourIndustry .container .cards .card {
  flex: 1 1 auto; /* Make sure the cards scale with the container */
  padding: 15px; /* Add padding inside the cards */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Light shadow for layered effect */
  position: relative;
}
.ChooseYourIndustry .container .cards .card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.ChooseYourIndustry .container .cards .card .card-body {
  text-align: center;
  color: white;
  padding: 10px 0;
}
.ChooseYourIndustry .container .cards .card hr {
  width: 50%; /* Make the hr thinner */
  height: 3px; /* Set thickness of the hr */
  background-color: white; /* Set color of hr */
  border: none; /* Remove default border */
  margin: 10px auto;
}
.ChooseYourIndustry .container .textContainer {
  margin-right: 0;
}
.ChooseYourIndustry .container .textContainer h2 {
  text-align: left;
  font-size: 55px;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
}
.ChooseYourIndustry .buttonContainer {
  align-items: center;
  text-align: center;
}
.ChooseYourIndustry .buttonContainer .btn {
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 18px;
  width: auto;
  color: white;
}

.WhatWeDo {
  margin-top: 100px;
}
.WhatWeDo .text {
  text-align: center;
  align-items: center;
}
.WhatWeDo .text .Whatdoclass {
  font-size: 55px;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
}
.WhatWeDo .text .whatdopara {
  text-align: center;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  margin-left: 127px;
  margin-right: 180px;
}
.WhatWeDo .carousel .carousel .carousel-inner .carousel-item img {
  width: 80%; /* Adjust the width to make the image smaller */
  height: auto; /* Maintain the aspect ratio */
  margin: 0 auto; /* Center the images */
  border-radius: 25px;
  max-width: 100%;
  height: auto;
}
.WhatWeDo .skypeAndWhatsapp .social_button {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.WhatWeDo .skypeAndWhatsapp .social_button button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.WhatWeDo .skypeAndWhatsapp .social_button button:hover {
  background-color: #e0e0e0;
  border-color: #ccc;
}
.WhatWeDo .skypeAndWhatsapp .social_button button a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.WhatWeDo .skypeAndWhatsapp .social_button .skype_btn img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  height: auto;
}
.WhatWeDo .skypeAndWhatsapp .social_button .whats_app_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 50px;
  border-radius: 50px;
  background-color: #25d366;
}
.WhatWeDo .skypeAndWhatsapp .social_button i {
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
}
.WhatWeDo .skypeAndWhatsapp .social_button p {
  margin: 0;
  color: #fff;
  font-size: 16px;
}
.WhatWeDo .skypeAndWhatsapp .social_button .line {
  height: 100px;
  width: 2px;
  background-color: #ddd;
}

.ClientThik {
  margin-top: 50px;
}
.ClientThik .container {
  text-align: center;
}
.ClientThik .container .WhatOurCli {
  font-size: 55px;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
}
.ClientThik .client-carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.ClientThik .client-carousel .content {
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.ClientThik .client-carousel .content .client-photo-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.ClientThik .client-carousel .content .client-photo-wrapper .testi_client {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ddd;
}
.ClientThik .client-carousel .content .client-photo-wrapper .testi_quote {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90px;
  height: 90px;
}
.ClientThik .client-carousel .content p {
  margin: 50px;
  font-size: 19px;
  line-height: 1.6;
}
.ClientThik .client-carousel .content h4 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
}
.ClientThik .client-carousel .content h6 {
  font-size: 18px;
  color: #555;
  margin-bottom: 50px;
}

.clientLogo {
  padding: 20px 0;
}
.clientLogo .container {
  max-width: 100%;
}
.clientLogo .container .swiper-container {
  width: 100%;
  overflow: hidden;
}
.clientLogo .container .swiper-container .swiper-wrapper {
  display: flex;
}
.clientLogo .container .swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  text-align: center;
}
.clientLogo .container .swiper-container .swiper-wrapper .swiper-slide img {
  max-width: 100px;
  max-width: 100%;
  height: auto;
}

.letstalk {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.letstalk .container {
  text-align: center;
}
.letstalk .container .test h3 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
}
.letstalk .container .test h2 {
  font-size: 55px;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
}
.letstalk .container .form {
  padding: 20px;
}
.letstalk .container .form .row {
  justify-content: space-between;
  width: 100%;
}
.letstalk .container .form .row .col {
  width: 100%;
  padding: 10px;
}
@media (min-width: 768px) {
  .letstalk .container .form .row .col {
    width: 48%;
  }
}
.letstalk .container .form .row .col .form-floating {
  margin-bottom: 1.5rem;
  width: 100%;
}
.letstalk .container .form .row .col .form-floating .input {
  width: 20%;
  padding: 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
}
.letstalk .container button {
  background-color: #f79925;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

footer .container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px 0;
}
footer .container .col {
  width: 30%;
  padding: 0 20px;
  position: relative;
}
footer .container .firstColume {
  text-align: center;
  width: 30%;
}
footer .container .firstColume .logoImage img {
  width: 218px;
  height: 50px;
  max-width: 100%;
  height: auto;
  margin-bottom: 18px;
}
footer .container .firstColume h5 {
  font-size: 1rem;
  line-height: 2;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}
footer .container .firstColume h6 {
  color: rgba(0, 0, 0, 0.5);
}
footer .container .SecondColume h3 {
  margin-top: 20px;
}
footer .container .SecondColume .linklight p {
  margin: 10px 0;
}
footer .container .SecondColume .linklight p a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
}
footer .container .SecondColume .linklight p a:hover {
  color: #f79925;
}
footer .container .ThridColume h3 {
  margin-top: 20px;
}
footer .container .ThridColume p {
  margin: 10px 0;
}
footer .container .ThridColume p a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
}
footer .container .ThridColume p a:hover {
  color: #f79925;
}
footer .container .ThridColume .socialLink {
  margin-top: 20px;
}
footer .container .ThridColume .socialLink a {
  margin-right: 10px;
}
footer .container .ThridColume .socialLink a i {
  font-size: 20px;
  color: black;
  transition: color 0.3s ease;
}
footer .container .ThridColume .socialLink a i:hover {
  color: #f79925;
}
footer .container .SecondColume::before,
footer .container .ThridColume::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
